body {
  font-size: 16px;
}

#container {
  width: 300px;
  margin: 10px auto;
}

form {
  text-align: center;
}

.err {
  color:  #ff3d00;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.fs12 {
  font-size: 12px;
}
